.button {
  border: none;
  background: var(--color-gradient);
  color: var(--color-main);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: var(--transition);
}

.disable {
  cursor: auto;
  opacity: 0.3;
}

.s {
  padding: 5px 22px;
}

.m {
  padding: 8px 25px;
}

.l {
  padding: 10px 28px;
}
