.button {
  border: none;
  background: var(--color-gradient);
  color: var(--color-main);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: var(--transition);
}

.disable {
  cursor: auto;
  opacity: 0.3;
}

.fixed {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  left: 20px;
}

.s {
  padding: 12px 22px;
}

.m {
  padding: 12px 25px;
}

.l {
  padding: 12px 28px;
}
