.breadСrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px;
  gap: 10px;
  list-style-type: none;
}

.breadСrumbs__link {
  color: var(--color-main-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.breadСrumbs li::after {
  margin-left: 10px;
  content: '\203A ';
}

.breadСrumbs li:last-child::after {
  margin-left: 0;
  content: '';
}

.breadСrumbs__link:visited {
  color: var(--color-main-text);
}

.breadСrumbs li:last-child {
  color: var(--color-input-text);
}
