.row {
  padding: 10px 0;
  font-size: 12px;
  background-color: var(--color-bg-main);
}
.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.item {
  padding: 1px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.item:visited {
  color: #fff;
}
.active {
  border-bottom: 1px solid #fff;
}
