.mobile {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: var(--color-main);
  gap: 10px;
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 10px;
}

.button {
  z-index: 99;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button_open {
  background-color: var(--color-main);
}

.button_close {
  background-color: var(--color-main);
}

.logo {
  flex-shrink: 0;
}
