.mobile {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: var(--color-main);
  gap: 10px;
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  flex-shrink: 0;
}

.button {
  z-index: 99;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon line {
  stroke-width: 1;
  transition: var(--transition);
}

.active line:nth-child(1) {
  opacity: 0;
}

.active line:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 15% 40%;
}

.active line:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 25% 65%;
}
