.main {
  flex-grow: 1;
  text-align: center;
}

.imageContainer {
  position: relative;
  height: 276px;
  padding-top: 33.3%;
  margin: 0 0 30px;
}

.image {
  object-fit: cover;
}

.catalogImages {
  margin: 0 0 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}

.catalogItem {
  position: relative;
  display: block;
  width: 350px;
  height: 200px;
  padding-top: 25%;
}

.catalogItem::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-light);
  content: '';
  transition: var(--transition);
}

.catalogItem:hover::before {
  background-color: var(--color-bg-blue);
}

.catalogImage {
  position: relative;
  object-fit: cover;
}

.catalogNameContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--color-main);
}

.catalogNameContainer:hover h3 {
  transform: translateY(-20px);
}

@media (width <= 768px) {
  .image {
    width: 100%;
    padding-left: 0;
    margin: 0 0 20px;
  }

  .li {
    width: 100%;
  }

  .catalogItem {
    width: 100%;
  }
}
