.main {
  flex-grow: 1;
  text-align: center;
}

.imageContainer {
  position: relative;
  height: 276px;
  padding-top: 33.3%;
  margin: 0 0 30px;
}

.image {
  object-fit: cover;
}

@media (width <= 768px) {
  .image {
    width: 100%;
    padding-left: 0;
    margin: 0 0 20px;
  }
}
