.main {
  position: relative;
}

.main__title {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  display: block;
  padding: 10px;
  color: var(--color-bg-input);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  text-shadow: var(--text-shadow-main-title);
}

@media (width <= 768px) {
  .main__title {
    font-size: 30px;
  }
}
