.presentation {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}

.main_title {
  text-shadow: var(--text-shadow-title);
}

@media (width <= 768px) {
  .presentation {
    padding: 0;
    margin: 0;
  }
}
