.presentation {
  width: 100%;
  text-align: center;
}

.main_title {
  margin-bottom: 20px;
  text-shadow: var(--text-shadow-title);
}

.subtitle {
  margin-bottom: 40px;
}

@media (width <= 768px) {
  .subtitle {
    margin-bottom: 30px;
  }
}
