.hideWrapper {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background: var(--color-main);
  transform: translateX(110%);
  transition: var(--transition);
  z-index: 10;
}
.overflowWrapper {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hideActive {
  visibility: visible;
  transform: translateX(0);
}

.head {
  margin: 0 0 40px;
  align-self: flex-start;
}
.list {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  position: relative;
  border-left: 1px solid var(--color-bg-blue);
}
.item {
  padding: 1px 0;
  display: flex;
  gap: 10px;
  width: 100%;
}

.active {
  background: var(--color-bg-light);
}
.link {
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--color-main-title);
}
.link:visited {
  color: var(--color-main-title);
}
.relative {
  position: relative;
}
