.hideWrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  background: var(--color-main);
  transform: translateX(110%);
  transition: var(--transition);
  visibility: hidden;
}

.overflowWrapper {
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.hideActive {
  transform: translateX(0);
  visibility: visible;
}

.head {
  align-self: flex-start;
  margin: 0 0 40px;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  border-left: 1px solid var(--color-bg-blue);
  gap: 10px;
  list-style-type: none;
}

.item {
  display: flex;
  width: 100%;
  padding: 1px 0;
  gap: 10px;
}

.active {
  background: var(--color-bg-light);
}

.link {
  padding: 8px 16px;
  border-radius: 10px;
  color: var(--color-main-title);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 120%;
  text-decoration: none;
}

.link:visited {
  color: var(--color-main-title);
}

.relative {
  position: relative;
}
