.row {
  padding: 5px 0;
  background-color: var(--color-bg-input);
  font-size: 13px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.adress {
  display: flex;
  color: var(--color-main-text);
  gap: 4px;
}

.location {
  stroke-width: 1;
}

.mailLink {
  display: flex;
  align-items: center;
  color: var(--color-main-text);
  gap: 4px;
  transition: var(--transition);
}

.mailLink:hover {
  color: var(--color-bg-blue);
  text-decoration: none;
}

.mailIcon {
  stroke-dasharray: 100 0;
  stroke-width: 1;
  transition: var(--transition);
}

.mailLink:hover .mailIcon {
  stroke-dasharray: 32 50;
}
