.row {
  padding: 5px 0 5px 0;
  font-size: 12px;
  background-color: var(--color-bg-input);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.adress {
  display: flex;
  gap: 4px;
  color: var(--color-main-text);
}
.email {
  display: flex;
  gap: 4px;
  color: var(--color-main-text);
}
.mailImage {
  width: 16px;
  height: 16px;
  background: url(../../../public/image/mail.svg);
}
.locationImage {
  width: 16px;
  height: 16px;
  background: url(../../../public/image/location.svg);
}
