.slideList {
  display: flex;
  transition: transform var(--transition) ease-in-out;
}

.item {
  flex: 1 0 100%;
  position: relative;
}

.slideImage {
  display: flex;
  padding-top: 33.3%;
  height: 360px;
}
.likeImage {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: url(../../../../public/image/like.svg) no-repeat center/cover;
}
@media (max-width: 768px) {
  .likeImage {
    width: 140px;
    height: 140px;
    top: 2%;
    left: 2%;
  }
}
