.slideList {
  display: flex;
  transition: transform var(--transition) ease-in-out;
}

.item {
  flex: 1 0 100%;
  position: relative;
}

.slideImage {
  display: flex;
  padding-top: 33.3%;
  height: 360px;
}
