.slideList {
  display: flex;
  transition: transform var(--transition) ease-in-out;
}

.item {
  position: relative;
  height: 360px;
  flex: 1 0 100%;
  padding-top: 33.3%;
}

.slideImage {
  object-fit: contain;
}

.likeImage {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 200px;
  height: 200px;
}

@media (width <= 1080px) {
  .likeImage {
    width: 100px;
    height: 100px;
  }
}
