.slideList {
  display: flex;
  transition: transform var(--transition) ease-in-out;
}

.item {
  padding-top: 33.3%;
  height: 360px;
  flex: 1 0 100%;
  position: relative;
}

.slideImage {
  object-fit: contain;
}
.likeImage {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: url(../../../../public/image/like.svg) no-repeat center/cover;
}
@media (max-width: 1080px) {
  .likeImage {
    width: 100px;
    height: 100px;
  }
}
