.slideList {
  display: flex;
  transition: transform var(--transition) ease-in-out;
}

.item {
  position: relative;
  height: 360px;
  flex: 1 0 100%;
  padding-top: 33.3%;
}

.slideImage {
  object-fit: contain;
}
