.dot {
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-bg-blue);
  margin: 5px;
  background-color: var(--color-main);
  transition: 0.4s;
}

.dot:hover {
  cursor: pointer;
}

.selected {
  background-color: var(--color-bg-blue);
}
