.form {
  position: relative;
  width: 100%;
  margin: 5px;
}

.input {
  width: 100%;
  padding: 8px 40px 8px 16px;
  border: 2px solid var(--color-bg-blue);
  border-radius: 20px;
  background: var(--color-bg-input);
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus {
  box-shadow: 0 0 0 3px rgb(67 137 207 / 30%);
}

.input::placeholder {
  color: var(--color-input-text);
}

.input::-webkit-search-cancel-button {
  appearance: none;
}

.button {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.icon {
  stroke: var(--color-bg-blue);
  stroke-width: 2;
  transition: all 0.3s ease;
}

.button:hover .icon {
  transform: scale(1.1);
}

@keyframes search {
  0% {
    stroke-dasharray: 0 100;
  }

  100% {
    stroke-dasharray: 100 0;
  }
}

.button:focus .icon {
  animation: search 0.8s both;
}
