.h1 {
  margin: 0 0 20px;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 36px;
}

.h2 {
  margin: 0 0 20px;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 36px;
}

.h3 {
  padding-bottom: 10px;
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  transition: var(--transition);
}

.borderLeft {
  display: inline-block;
  padding-left: 10px;
  border-left: 3px solid var(--color-bg-blue);
}

.borderDown {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color-bg-blue);
}

@media (width <= 768px) {
  .h1 {
    font-size: 24px;
    letter-spacing: -0.7px;
    line-height: 28px;
  }

  .h2 {
    font-size: 22px;
    letter-spacing: -0.7px;
    line-height: 28px;
  }

  .h3 {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 22px;
  }
}
