.contacts {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 0 20px;
}

.contactList {
  display: flex;
  width: 100%;
  max-width: 540px;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.contact {
  display: flex;
  gap: 4px;
}

.downloadLink {
  display: block;
  margin-bottom: 20px;
  color: var(--color-bg-blue);
}

.mailLink {
  color: var(--color-main-text);
}

.mailLink:hover {
  text-decoration: none;
}

.tel {
  display: block;
  color: var(--color-main-title);
}

.tel:hover {
  text-decoration: none;
}

@media (width <= 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}
