.goods {
  width: 100%;
  flex-grow: 1;
}

.items {
  width: 100%;
  list-style-type: none;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid var(--color-bg-light);
  margin: 20px 0;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 300px;
  padding-top: 25%;
}

.image {
  object-fit: cover;
  transition: var(--transition);
}

.row:hover .image {
  transform: scale(1.05);
}

.titleContainer {
  display: flex;
  width: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.item:nth-child(even) .titleContainer {
  order: -1;
}

.link {
  color: var(--color-main-title);
  text-decoration: none;
  transition: var(--transition);
}

.row:hover .link {
  color: var(--color-bg-blue);
}

.breadCrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px;
  gap: 10px;
  list-style-type: none;
}

.breadCrumbs__link {
  color: var(--color-main-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.breadCrumbs__link:visited {
  color: var(--color-main-text);
}

.breadCrumbs li::after {
  margin-left: 10px;
  content: '\203A ';
}

.breadCrumbs li:last-child::after {
  margin-left: 0;
  content: '';
}

.breadCrumbs li:last-child {
  color: var(--color-input-text);
}

@media (width <= 768px) {
  .row {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .titleContainer {
    width: 100%;
    order: -1;
  }
}
