.tabs {
  display: flex;
  list-style-type: none;
}

.tab {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tab_name {
  display: block;
  margin: 0 0 10px;
  color: var(--color-gray-text);
  cursor: default;
  font-size: 18px;
}

.tab_name_active {
  color: var(--color-main-text);
}
